<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://jasonpooley.co.uk/wp-content/uploads/2017/11/jp-logo-favicon.png">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/9a4527c9e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/style.css">
  
</head>

<body>
    <%- include('./navigation.ejs', user) %> 
    <%- include('./alert.ejs') %> 