<%- include('../../partials/header.ejs', user) %>

   <div class="container-fluid my-container my-5">
        <h1 class="display-3 text-center">Welcome to your Dashboard</h1>
    </div>

    <%- include('../../partials/footer.ejs', ) %>

        </body>

        </html>